{% extends "base.html" %}
{% block content %}
  <div class="contact-card">
    <h2>Contact Us</h2>
    <p>If you want to reach out, use the email below or visit the LinkedIn profile.</p>

    <p><strong>Creator:</strong> Tellamekala Harikrishna</p>

    <p>
      Email:
      <a href="harikrishnatellamekala1@gmail.com">harikrishnatellamekala1@gmail.com</a>
    </p>

    <p>
      LinkedIn:
      <a href="https://www.linkedin.com/in/tellamekala-harikrishna?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank" rel="noopener">Visit LinkedIn profile</a>
    </p>
    <p><strong>Creator:</strong> Vangapati Alluraiah</p>

    <p>
      Email:
      <a href="alluraiahv207@gmail.com">alluraiahv207@gmail.com</a>
    </p>

    <p>
      LinkedIn:
      <a href="https://www.linkedin.com/in/v-alluraiah-4b838335b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank" rel="noopener">Visit LinkedIn profile</a>
    </p>
    <p><strong>Creator:</strong> Syed Khaderunnisa </p>

    <p>
      Email:
      <a href="sdkhadarunisa@gmail.com">sdkhadarunisa@gmail.com</a>
    </p>

    <p>
      LinkedIn:
      <a href="https://www.linkedin.com/in/tellamekala-harikrishna?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank" rel="noopener">Visit LinkedIn profile</a>
    </p>
    <p><strong>Creator:</strong> Ragham Jitesh</p>

    <p>
      Email:
      <a href="raghamjitesh66@gmail.com">raghamjitesh66@gmail.com</a>
    </p>

    <p>
      LinkedIn:
      <a href="https://www.linkedin.com/in/tellamekala-harikrishna?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank" rel="noopener">Visit LinkedIn profile</a>
    </p>
    <p><strong>Creator:</strong> Podili Yaswanth mani </p>

    <p>
      Email:
      <a href="yaswanthmanipodili4@gmail.com">yaswanthmanipodili4@gmail.com</a>
    </p>

    <p>
      LinkedIn:
      <a href="https://www.linkedin.com/in/yaswanthmani-podili-7355082ab?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank" rel="noopener">Visit LinkedIn profile</a>
    </p>
  </div>
{% endblock %}
